/* variable css */

:root {
  --primary: #009d5c;
  --bg-primary: #e5e5e5;
  --white: #fcfcfc;
  --black: #1a1a1a;
  --text-primary: #000;
  --text-secondary: #fff;
  --bg-articles: #f6f6f6;
  --hover: #6e6e6e;
}

/* reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: var(--white);
  font-size: 20px;
}


a {
  color: white;
  text-decoration: none;
}

/* style commun à toutes les pages  */

.global-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px 1fr;
}


h1 {
  padding: 30px;
  font-weight: 200;
}

/* le menu */

#side-nav {
  position: fixed;
  width: 250px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: var(--bg-primary);
}
.admin{
  font-size: 3rem;
}

.nav-logo {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 20px;
}

.nav-logo h1 {
  margin-left: 10px;
  font-size: 45px;
  font-weight: 500;
}
.nav-logo .account {
  width: 100%;
  font-size: 18px;
  margin: 20px 10px;
  color: var(--black);
}
.nav-logo .account:hover {
  text-decoration: underline;
}

.bloc-link {
  display: flex;
  font-weight: 300;
  color: var(--primary);
  text-decoration: none;
  padding: 20px 30px;
}

.bloc-link i {
  width: 20px;
}

.hidden{
  display: none;
}

.active {
  background: var(--hover);
  color: var(--white);
}

.nav-links {
  margin-left: 14px;
}

/* Main  */
.main-content {
  grid-column: 2;
  padding: 30px;
}

.input-control {
  display: flex;
  align-items: center;
  max-width: 450px;
  background-color: var(--bg-primary);
  border-radius: 6px;
  padding: 15px;
}

.input-control i {
  width: 20px;
  margin-right: 20px;
  position: relative;
}

.input-control input {
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
  outline: 0;
  border: 0;
  box-shadow: 1px 1px 1px var(--primary);
  color: #000;
  background-color: white;
}

.input-control input::placeholder {
  color: #0f0f0f;
  font-size: 16px;
}

.main-title {
  margin: 30px 0;
}

/* Table */
.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.table-read-email{
  display: grid;
  grid-template-columns: 1fr 3fr;
  
}

.table-title {
  font-size: 16px;
  padding: 10px 15px 20px;
}

.table-results {
  grid-column: 1/-1;
}

.table-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 15px 10px;
}

#read-email{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 15px 10px;
  background: var(--bg-primary);
  padding: 20px;
}
#read-email .username{
  margin: 0 0 10px 0;
  font-size: 1.5rem;
}
#read-email li:nth-child(3){
  margin-top: 10px;
}


.table-item:nth-child(odd) {
  background: var(--bg-primary);
}

.table p {
  padding: 0 15px;
}

.name {
  display: list-item;
}

span.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: var(--primary);
  width: 140px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  margin: 10px auto;
}
.btn {
  width: 300px;
  background-color: var(--primary);
  width: 140px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  color: white;
  border: none;
}
.btn:hover {
  transform: scale(1.05);
}

.main-content {
  background-color: var(--bg-articles);
  
}

/* forumulaire création d'un article */

/* #form-create-article{
  
} */

#form-create-article select,
#form-create-article input[type="text"],
#form-create-article input[type="number"]{
  width: 400px;
  height: 35px;
  border: none;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
  rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
  rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  font-size: 1.2em;
  color: #555555;
  cursor: pointer;
}
.increase {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#form-create-article select option:hover {
  color: var(--primary);
}
#form-create-article textarea {
  width: 400px;
  height: 200px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  font-size: 18px;

}

/* la barre de recherche */

.table-results {
  display: list-item;
  list-style-type: none;
}
#form-create-article label {
  display: block;
  width: 150px;
  float: left;
}
#form-create-article .item-form {
  margin: 20px;
}

#form-create-article .btn{
  margin: 30px 15px ;
}



/* page account admin  */
#pageAccount a{
  color: black;
}



/* page new password  */
#section-NewPassword form{
  width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
}
#section-NewPassword input{
  display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
#section-NewPassword label{
  color: #888;
	font-size: 18px;
	padding: 10px;
}
#section-NewPassword a{
  color: black;
}
.msg-error{
    background-color: #E01A1A;
    color: white;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
}





/* @media screen and (max-width: 1000px) {
  .global-container {
    grid-template-columns: 1fr;
  }
  
} */
@media screen and (max-width: 700px) {
  #side-nav {
    position: relative;
    width: 100%;
    border-right: 2px solid #e3e8f0;
  }
  .global-container {
    grid-template-columns: 1fr;
  }
  h1 {
    text-align: center;
  }

  .main-content {
    grid-column: 1;
    padding: 0;
    
  }

  .table {
    display: block;
  }

  .table-title {
    display: none;
  }

  .table-item {
    grid-template-columns: 1fr;
    grid-auto-rows: 55px;
    margin-bottom: 50px;
    height: auto;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  }
  
  .nav-logo,
  .bloc-links {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
  }
  .nav-logo .account {
    text-align: center;
  }


  /* le formulaire de création d'un article */

  #form-create-article input[type="text"],
  #form-create-article input[type="number"],
  #form-create-article textarea,
  #form-create-article select{
    width: 95%;
    margin: 5px;
  }
  #form-create-article label{
    width: 130px;
    margin: 10px 0;
  }
  #form-create-article input[type="checkbox"]{
    margin-top: 6px;

  }
  
}
