*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}




/* --------PAGINATION-----------  */
#nav-pagination{
    text-align: center;
    margin: 1rem 0;
}
.pagination{
    display: inline-flex;
    margin-bottom: 2rem;
}
.pagination .page-item a{
    transition: all 0.1s ease-in-out;
    background-color: #F7F7F8;
    padding: 10px;
    border: solid 1px aqua;
}
.pagination .active a, .pagination .page-item a:hover{
    background-color: blue;
    color: white;
}
.hidden{
    display: none;
}